*.iml
.gradle
/local.properties
/.idea/caches
/.idea/libraries
/.idea/modules.xml
/.idea/workspace.xml
/.idea/navEditor.xml
/.idea/assetWizardSettings.xml
.DS_Store
/build
/captures
.externalNativeBuild
.cxx
local.properties
.aiexcluded/

# Not staging any of the traces because they contain GPS coordinates.
# Sorry open source community, not sharing those :)
app/src/test/resources/raw_traces/*
app/calibration_results.txt
